@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
        <div class="col-md-6 title">
            <h1 style="font-size:4rem">Welcome, my name is Itiel Felix (23)</h1>
            <p style="font-size:1.5rem; margin-top:2rem">I am a Fullstack developer always looking for growth.</p>
        </div>
        <div class="col-md-6 square-crop">
            <img id="foto"
                 src="~/images/me.png" alt="picture of me" />
        </div>
    </div>
    <partial name="_Presentation" />
    <partial name="_Skills" />
</div>

<partial name="_ProjectsSection" model="Model.Projects" />

<partial name="_SocialNetworks" />