@model IEnumerable<Project>
@{
    ViewData["Title"] = "Projects";
}
@if (Model is not null)
{
    <div class="text-center" style="margin-top:5rem; margin-bottom:2rem">
        <h1>Most Recent projects:</h1>
    </div>

    <partial name="_ProjectsList" model="Model" />

}